.team {
  background-color: #fff0f5;
  height: 750px;
  font-family: "Roboto";
  color: #c4213b;
}

.team__title {
  font-size: 36px;
  font-family: "Roboto";
  margin: 0;
  padding: 40px;
}

.team__carousel {
  display: flex;
  align-items: center;
  gap: 30px;
  height: 530px;
}

.team__cards {
  display: flex;
  gap: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.team__cards::-webkit-scrollbar {
  display: none;
}

.team__card {
  width: 375px;
  height: 510px;
  background: #fefcf8;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 25px;
  border: #000;
  border: 3px solid #c4213b;
}

.person__photo {
  padding: 5px;
}

.person__name {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 10px 0;
}

.person__document {
  font-size: 20px;
  margin: 0;
}

.person__skills {
  font-size: 20px;
  margin: 0;
  padding: 30px 0 0 0;
  text-align: center;
}

.team__arrow {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

.team__arrow:hover {
  opacity: 0.7;
}
