.team {
  background-color: #fff0f5;
  height: 750px;
  font-family: "Roboto";
  padding: 40px 0;
}

.team__start {
  width: 155px;
  height: 30px;
  border: 1px solid #ffc2d5;
  display: flex;
  background-color: #ffc2d5;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  justify-content: center;
  margin: 0 0 20px 0;
  font-family: "AR One Sans";
}

.team__top {
  margin: 0;
  font-size: 15px;
  align-self: center;
}

.team__title {
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: 36px;
  font-family: "AR One Sans";
  color: #c4213b;
  margin: 0 0 20px 0;
}

.team__subtitle {
  display: flex;
  width: 650px;
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 18px;
  margin: 0 0 30px 0;
  color: #8d8d8d;
  font-family: "AR One Sans";
}

.team__carousel {
  display: flex;
  justify-self: center;
  align-items: center;
  width: 1400px;
  gap: 30px;
  height: 530px;
  margin: 0 60px;
}

.team__cards {
  display: flex;
  height: 500px;
  gap: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.team__card {
  width: 375px;
  height: 460px;
  background: #fefcf8;
  flex-shrink: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 25px;
  border: #000;
  border: 1px solid #dbbcc6;
  margin: 10px 0;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.team__card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.team-card__back {
  background-color: #f2d4de;
  width: 375px;
  height: 230px;
  border-radius: 25px 25px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.person__photo {
  width: 168px;
  height: 168px;
  border-radius: 100px;
  object-fit: cover;
  transition: all 0.8s ease;
}

.team__card:hover .person__photo {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.person__name {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 0 0;
  color: #c4213b;
}

.person__document {
  font-size: 16px;
  margin: 0;
  color: #8d8d8d;
}

.person__skills {
  font-size: 20px;
  margin: 0;
  padding: 30px 0 0 0;
  text-align: center;
}

.team__arrow {
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

.team__arrow:hover {
  opacity: 0.7;
}
