.footer {
  height: 100px;
  background-color: #c4213b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

.footer__icon {
  width: 40px;
  height: 45px;
}

.adress__icon {
  padding: 10px 0 0 0;
}

.footer__description {
  margin: 10px;
}

.footer__adress {
  display: flex;
}

.footer__instagram {
  display: flex;
}

.footer__whatsapp {
  display: flex;
}
