.specialities {
  background-color: #fdeef1;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.specialities__start {
  width: 155px;
  height: 30px;
  border: 1px solid #ffc2d5;
  display: flex;
  background-color: #ffc2d5;
  border-radius: 20px;
  justify-self: center;
  align-self: center;
  justify-content: center;
  margin: 50px 0 20px 0;
  font-family: "AR One Sans";
}

.specialities__top {
  margin: 0;
  font-size: 15px;
  align-self: center;
}

.specialities__title {
  align-self: center;
  font-size: 36px;
  font-family: "AR One Sans";
  color: #c4213b;
  margin: 0 0 20px 0;
}

.specialities__subtitle {
  width: 650px;
  text-align: center;
  align-self: center;
  font-size: 18px;
  margin: 0 0 30px 0;
  color: #8d8d8d;
  font-family: "AR One Sans";
}

.specialities__grid {
  margin: 30px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(2, 200px);
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.specialities-card {
  position: relative;
  width: 320px;
  height: 200px;
  border: 1px solid #e3cbcb;
  border-radius: 10px;
  background-color: #fefcf8;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.specialities-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.specialities-card__circle {
  width: 50px;
  height: 50px;
  background-color: #fdeef1;
  border-radius: 100px;
  position: relative;
  left: 20px;
  top: 20px;
}

.specialities-card__icon {
  width: 30px;
  height: 30px;
  position: relative;
  left: 10px;
  top: 10px;
}

.specialities-card__title {
  font-size: 20px;
  position: relative;
  left: 20px;
  top: 25px;
  width: 300px;
}

.specialities-card__description {
  width: 280px;
  font-size: 16px;
  position: relative;
  left: 20px;
  top: 15px;
  color: #8d8d8d;
}
