.specialities {
  background-color: #fdeef1;
  color: #000000;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}

.specialities__start {
  width: 155px;
  height: 30px;
  border: 1px solid #ffc2d5;
  display: flex;

  background-color: #ffc2d5;
  border-radius: 20px;
}

.specialities_top {
  margin: 0;
  font-size: 15px;
  justify-self: center;
}

.specialities__title {
  align-self: center;
  font-size: 36px;
  font-family: "Saira";
  color: #c4213b;
}

.specialities__subtitle {
  width: 610px;
  text-align: center;
  align-self: center;
  font-size: 16px;
  margin: 0 0 40px 0;
  color: #8d8d8d;
  font-family: "Saira";
}

.specialities__grid {
  margin: 30px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(2, 200px);
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.specialities__card {
  position: relative;
  width: 320px;
  height: 200px;
  border: 1px solid #e3cbcb;
  border-radius: 10px;
  background-color: #fefcf8;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.specialities-card__icon {
  width: 45px;
  height: 45px;
  margin: 0 0;
  position: relative;
  left: 20px;
  top: 20px;
}

.specialities-card__title {
  font-size: 19px;
  position: relative;
  left: 20px;
  top: 35px;
  font-family: "Saira";
  width: 300px;
}

.specialities-card__description {
  width: 307px;
  font-size: 16px;
  position: relative;
  left: 20px;
  top: 35px;
  color: #8d8d8d;
}
